Repository pirate/bbus: changes, and which pre-commit hooks are due for each by the changed paths.
All: ty-check, pyright, ts-lint

ty-check:
  name: ty-check
  entry: uv run ty check
  language: system
  pass_filenames: false

pyright:
  name: pyright
  entry: uv run pyright
  language: system
  pass_filenames: false

ts-lint:
  name: ts-lint
  entry: pnpm --dir bubus-ts run lint
  language: system
  pass_filenames: false

Notes added by 'git notes add'
  7ec68f80e58eb4153f0881d1d885fb84a99e81f9
Due: none

switch from pre-commit to prek
  README.md
  bubus-ts/README.md
  bubus-ts/src/base_event.ts
  bubus-ts/src/event_bus.ts
  bubus-ts/src/event_handler.ts
  bubus/events_suck.py
  bubus/jsonschema.py
  docs/operations/development.mdx
  docs/operations/performance.mdx
  examples/concurrency_options.py
  examples/forwarding_between_busses.py
  examples/immediate_event_processing.py
  examples/log_tree_demo.py
  examples/parent_child_tracking.py
  examples/simple.py
  pyproject.toml
  test.sh
  tests/performance_runtime.py
  tests/test_bridges.py
  ui/test_events.py
Due: ty-check, pyright, ts-lint

Notes added by 'git notes add'
  11bf230d62c4c01b4007f8f15d0c54862495326f
Due: none

fix pre-commit hooks
  .github/workflows/pre-commit-hooks.yaml
  .pre-commit-config.yaml
  bubus-ts/.prettierignore
  bubus-ts/README.md
  bubus-ts/package.json
  bubus-ts/pnpm-lock.yaml
  test.sh
  test_perf.sh
Due: ts-lint

Notes added by 'git notes add'
  3ee53da19d8f915a026db2561c72f33b8d795d59
Due: none

Update tests/test_typing_contracts.py
  tests/test_typing_contracts.py
Due: ty-check, pyright

Notes added by 'git notes add'
  3cab3a37c1c7151adf893d30fcbdfb4ba9caa52d
Due: none

Notes added by 'git notes add'
  319e73261b385eff56b0d42636ff41d832241926
Due: none

fix perf regression and add missing tests
  bubus/lock_manager.py
  tests/subtests/test_eventbus_cross_runtime_features.py
  tests/test_base_event_runtime_state.py
  tests/test_eventbus_dispatch_contextvars.py
  tests/test_eventbus_find.py
  tests/test_eventbus_retry_integration.py
  tests/test_lock_manager.py
Due: ty-check, pyright

fix perf regression and add missing tests
  README.md
  bubus-ts/package.json
  bubus-ts/src/base_event.ts
  bubus-ts/src/event_bus.ts
  bubus-ts/src/event_handler.ts
  bubus-ts/tests/comprehensive_patterns.test.ts
  bubus-ts/tests/eventbus_dispatch_parent_tracking.test.ts
  bubus-ts/tests/events_suck.test.ts
  bubus-ts/tests/lock_manager.test.ts
Due: ts-lint

fix lint
  .pre-commit-config.yaml
  bubus-ts/tests/eventbus_dispatch_parent_tracking.test.ts
Due: ts-lint

Notes added by 'git notes add'
  286f9588920deab25727000d5f1f41ecd80c0740
  2fefaa40d6c1ff30b484c51e93c37df7f07b0425
  e3ad9b06410739e61d36fb1b16ceb9ef783e8f94
Due: none

fix handler typing strictness
  bubus-ts/scripts/run_browser_perf.sh
  bubus-ts/src/event_bus.ts
  bubus-ts/src/event_handler.ts
  bubus-ts/src/event_result.ts
  bubus-ts/tests/cross_runtime_roundtrip.test.ts
  bubus-ts/tests/eventbus_on_off.test.ts
  bubus-ts/tests/eventbus_serialization.test.ts
  bubus-ts/tests/lock_manager.test.ts
  bubus-ts/tests/performance.browser.spec.cjs
  bubus/base_event.py
  bubus/event_handler.py
  tests/test_eventbus_forwarding.py
  tests/test_eventbus_on_off.py
  tests/test_lock_manager.py
Due: ty-check, pyright, ts-lint

Notes added by 'git notes add'
  49047da6aa047699cb8c7667c833bc6d38c3de08
Due: none

Update bubus-ts/tests/performance.browser.spec.cjs
  bubus-ts/tests/performance.browser.spec.cjs
Due: ts-lint

Update bubus-ts/tests/eventbus_serialization.test.ts
  bubus-ts/tests/eventbus_serialization.test.ts
Due: ts-lint

fix cubic comments
  bubus-ts/src/lock_manager.ts
  bubus-ts/tests/eventbus_forwarding.test.ts
  bubus-ts/tests/lock_manager.test.ts
  tests/test_eventbus_on_off.py
Due: ty-check, pyright, ts-lint

show perf stats
  .github/workflows/test_py.yaml
  .github/workflows/test_ts.yaml
Due: none

fix ForwardedFirstDefaultsEvent type
  bubus-ts/tests/eventbus_forwarding.test.ts
Due: ts-lint

run perf in parallel
  .github/workflows/test_py.yaml
  .github/workflows/test_ts.yaml
Due: none

remove _ts fields and make event result update consistent across langs
  README.md
  bubus-ts/README.md
  bubus-ts/examples/parent_child_tracking.ts
  bubus-ts/src/base_event.ts
  bubus-ts/src/event_bus.ts
  bubus-ts/src/event_handler.ts
  bubus-ts/src/event_history.ts
  bubus-ts/src/event_result.ts
  bubus-ts/src/helpers.ts
  bubus-ts/src/index.ts
  bubus-ts/src/types.ts
  bubus-ts/tests/base_event.test.ts
  bubus-ts/tests/bridges.test.ts
  bubus-ts/tests/comprehensive_patterns.test.ts
  bubus-ts/tests/cross_runtime_roundtrip.test.ts
  bubus-ts/tests/event_result.test.ts
  bubus-ts/tests/eventbus.test.ts
  bubus/base_event.py
  bubus/event_bus.py
  bubus/event_handler.py
  bubus/event_history.py
  bubus/helpers.py
  bubus/logging.py
  docs/api/baseevent.mdx
  docs/api/eventhandler.mdx
  docs/api/eventresult.mdx
  tests/test_base_event.py
  tests/test_base_event_runtime_state.py
  tests/test_bridges.py
  tests/test_event_result_handler_metadata.py
  tests/test_eventbus.py
  tests/test_eventbus_debounce.py
  tests/test_eventbus_log_tree.py
  tests/test_retry.py
Due: ty-check, pyright, ts-lint

Notes added by 'git notes add'
  10d07a82d881e0d28edd1bfdd10c9a75618310c8
Due: none

Update bubus-ts/src/event_result.ts
  bubus-ts/src/event_result.ts
Due: ts-lint

Notes added by 'git notes add'
  a6ea625ebc1a20749537f5cfe3cc8a6b7893fa71
Due: none

Notes added by 'git notes add'
  dbbc3106b88feea0567d7747bf2ce76086850626
Due: none

fix cubic comments
  README.md
  bubus-ts/examples/parent_child_tracking.ts
  bubus-ts/src/base_event.ts
  bubus-ts/src/event_handler.ts
  bubus-ts/src/event_result.ts
  bubus-ts/tests/base_event.test.ts
  bubus-ts/tests/event_result.test.ts
  bubus/__init__.py
  bubus/base_event.py
  bubus/event_handler.py
  bubus/helpers.py
  tests/test_base_event.py
  tests/test_event_result_handler_metadata.py
  tests/test_eventbus_debounce.py
Due: ty-check, pyright, ts-lint

fix cubic comments
  bubus-ts/src/base_event.ts
  bubus-ts/tests/base_event.test.ts
Due: ts-lint

more fixes
  bubus/base_event.py
  tests/test_base_event.py
  tests/test_event_result_handler_metadata.py
Due: ty-check, pyright

Notes added by 'git notes add'
  56755073470f36d6d98b884738f288e24a431c6e
Due: none

fix types in tests
  bubus-ts/tests/event_result.test.ts
  tests/test_base_event.py
  tests/test_event_result_handler_metadata.py
Due: ty-check, pyright, ts-lint

Notes added by 'git notes add'
  6b1ac791023713ab661d5aeca590205af867d5f5
Due: none

remove legacy methods
  bubus-ts/src/event_history.ts
  bubus/event_bus.py
  bubus/event_history.py
  docs/api/eventhistory.mdx
  docs/features/event-history-store.mdx
Due: ty-check, pyright, ts-lint

Notes added by 'git notes add'
  df50266279fed82bfd1540ffc1a9d3c3d10c4b7e
Due: none

add links
  README.md
  bubus-ts/README.md
  bubus-ts/package.json
  pyproject.toml
Due: ty-check, pyright, ts-lint

bump links
  bubus-ts/README.md
  bubus-ts/package.json
  bubus-ts/pnpm-lock.yaml
  pyproject.toml
Due: ty-check, pyright, ts-lint

bump lockfile
  bubus-ts/pnpm-lock.yaml
Due: ts-lint

fix ui
  TODO_event_history_stores.md
  bubus/typings/uuid_extensions/__init__.pyi
  examples/ui/README.md
  examples/ui/__init__.py
  examples/ui/config.py
  examples/ui/db.py
  examples/ui/main.py
  examples/ui/test_events.py
  pyproject.toml
Due: ty-check, pyright

Notes added by 'git notes add'
  7c76796caa6353c593afb00c0980e3548c64474f
Due: none

add fastapi package for types in ci
  .github/workflows/pre-commit-hooks.yaml
  .github/workflows/test_py.yaml
Due: none

Notes added by 'git notes add'
  709210637cdb70623d70ad8d22ace20878ff4c9a
Due: none

Path conditions:
  ty-check: any of: ^(bubus/|tests/|examples/|pyproject\.toml)
  pyright: any of: ^(bubus/|tests/|examples/|pyproject\.toml)
  ts-lint: any of: ^bubus-ts/
